/.idea/.idea.LanguageBasics/.idea/.gitignore
/DotNet/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/DotNet/obj/Debug/net5.0/DotNet.AssemblyInfo.cs
/DotNet/obj/Debug/net5.0/DotNet.AssemblyInfoInputs.cache
/DotNet/obj/Debug/net5.0/DotNet.assets.cache
/DotNet/obj/Debug/net5.0/DotNet.csproj.CoreCompileInputs.cache
/DotNet/obj/Debug/net5.0/DotNet.csproj.FileListAbsolute.txt
/DotNet/obj/DotNet.csproj.nuget.dgspec.json
/DotNet/obj/DotNet.csproj.nuget.g.props
/DotNet/obj/DotNet.csproj.nuget.g.targets
/DotNet/obj/Debug/net5.0/DotNet.csprojAssemblyReference.cache
/DotNet/bin/Debug/net5.0/DotNet.deps.json
/DotNet/bin/Debug/net5.0/ref/DotNet.dll
/DotNet/bin/Debug/net5.0/DotNet.dll
/DotNet/obj/Debug/net5.0/ref/DotNet.dll
/DotNet/obj/Debug/net5.0/DotNet.dll
/DotNet/obj/Debug/net5.0/DotNet.GeneratedMSBuildEditorConfig.editorconfig
/DotNet/obj/Debug/net5.0/DotNet.genruntimeconfig.cache
/DotNet/bin/Debug/net5.0/DotNet.pdb
/DotNet/obj/Debug/net5.0/DotNet.pdb
/DotNet/bin/Debug/net5.0/DotNet.runtimeconfig.dev.json
/DotNet/bin/Debug/net5.0/DotNet.runtimeconfig.json
/.idea/.idea.LanguageBasics/.idea/encodings.xml
/.idea/.idea.LanguageBasics/.idea/indexLayout.xml
/DotNet/obj/project.assets.json
/DotNet/obj/project.nuget.cache
/DotNet/obj/project.packagespec.json
/DotNet/obj/rider.project.restore.info
/.idea/.idea.LanguageBasics/.idea/riderModule.iml
